*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #f9fafb, #f3f4f6);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #111827;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-container {
  max-width: 736px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  @media (width > 1000px) {
    flex-direction: row;
    max-width: none;
  }
}

.card__data {
  padding: 25px;
  flex: 1 0;
}

.picture-container {
  background-color: #000;
  flex-basis: 250px;
}

.picture {
  object-fit: cover;
  height: 100%;
}

.name {
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #4b5563;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-link {
  padding: 0.5rem 1rem;
  background-color: #f3f4f6;
  border-radius: 50px;
  transition: background-color 0.15s;
  display: flex;
  gap: 8px;

  &:hover {
    background-color: #e5e7eb;
  }
}

.description {
  color: #374151;
  line-height: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}
